body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #8d0000, #44006b, #270164, #010433);
    background-attachment: fixed;
    background-size: 500%;
    animation: backgroundAnimation 4s infinite ease;
    color: #333;
}
@keyframes backgroundAnimation {
    0%, 100%{
        background-position: 0% 50%;

    }
    50%{
        background-position: 100% 50%;
    }
}
.container {
    max-width: 800px;
    margin: 30px auto;
    background: #fff;
    padding: 40px;
    box-shadow:40px rgba(0,0,0,0.1);
    border-radius: 30px;
}

header {
    text-align: center;
    border-bottom: 2px solid #330058;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h1 { margin: 0; color: #330058; }
.contact-info { font-style: italic; color: #666; }
h2 { border-left: 5px solid #330058; padding-left: 10px; color: #330058; margin-top: 30px; }
.section {
    padding-top: 20px;
     margin-bottom: 20px; 
    }
.job-title { font-weight: bold; }
.date { float: right; color: #888; }
ul { padding-left: 20px; }


.skills {   /*skill*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: flex-start;
    width: 100%;
font-size: 2vh;
text-align: center;
    overflow-x: auto;
    overflow-y: visible;   
    padding-top: 15px;     
}

.skills span {
    background: #512da8;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0, 0, 40px #010433;

    width: 70px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 5px;

    flex: 0 0 auto; 
    cursor: pointer;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skills span:hover {
    background-color: #3c1793;
    transform: translateY(-8px);
}

.skills span img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}